**Q1.Create one variable containing following type of data:
(i)string
(ii)list
(iii)float
(iv)tuple**

In [3]:
data = ["niraj" , [2,3,4,5,6] , 34.56 , (7,8,9)]
data

['niraj', [2, 3, 4, 5, 6], 34.56, (7, 8, 9)]

**Q2.Given are some following variables containing data:**

In [6]:
var1=''
type(var1)

str

In [7]:
var2='[DS,ML,Python]'
type(var2)

str

In [9]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [10]:
var4 = 1
type(var4)

int

**Q3. Explain the use of the following operators using an example:**

(i) / (Division Operator): The / operator performs division between two numbers and returns the quotient as a floating-point number.

In [12]:
10/3

3.3333333333333335

(ii) % (Modulo Operator): The % operator calculates the remainder after division between two numbers.

In [13]:
10%3

1

(iii) // (Floor Division Operator): The // operator performs division between two numbers and returns the quotient as an integer, discarding the decimal part.

In [14]:
10//3

3

(iv) ** (Exponentiation Operator): The ** operator raises the left operand to the power of the right operand.

In [15]:
2**3

8

**Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.**

In [17]:
l=[23,56,78,99,'niraj',66.89,[1,2,3,4,5],(6,7,8,9),4+7j,'shinde']
for i in l:
    print(i,"data type ",type(i))

23 data type  <class 'int'>
56 data type  <class 'int'>
78 data type  <class 'int'>
99 data type  <class 'int'>
niraj data type  <class 'str'>
66.89 data type  <class 'float'>
[1, 2, 3, 4, 5] data type  <class 'list'>
(6, 7, 8, 9) data type  <class 'tuple'>
(4+7j) data type  <class 'complex'>
shinde data type  <class 'str'>

**Q5.Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.**

In [25]:
a=64
b=4
count=0
while a%b==0:
    a=a//b
    count += 1
if count > 0:
    print("Number a is divisible by b, and it can be divided" ,{count} ,"times.")
else:
    print("Number a is not divisble by b")

Number a is divisible by b, and it can be divided {3} times.

**Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.**

In [34]:
my_list=[]
for i in range(1,26):
    my_list.append(i)

for j in my_list:
    if j % 3 == 0:
        print("Numbers divisible by 3 are:" , j)
    else:
        print("Numbers not divisible by 3 are" , j)

Numbers not divisible by 3 are 1
Numbers not divisible by 3 are 2
Numbers divisible by 3 are: 3
Numbers not divisible by 3 are 4
Numbers not divisible by 3 are 5
Numbers divisible by 3 are: 6
Numbers not divisible by 3 are 7
Numbers not divisible by 3 are 8
Numbers divisible by 3 are: 9
Numbers not divisible by 3 are 10
Numbers not divisible by 3 are 11
Numbers divisible by 3 are: 12
Numbers not divisible by 3 are 13
Numbers not divisible by 3 are 14
Numbers divisible by 3 are: 15
Numbers not divisible by 3 are 16
Numbers not divisible by 3 are 17
Numbers divisible by 3 are: 18
Numbers not divisible by 3 are 19
Numbers not divisible by 3 are 20
Numbers divisible by 3 are: 21
Numbers not divisible by 3 are 22
Numbers not divisible by 3 are 23
Numbers divisible by 3 are: 24
Numbers not divisible by 3 are 25

**Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.**

String (immutable):

In this example, the original string Hello is concatenated with the string World using the + operator. The original string remains unchanged, and a new string object Hello World is created.

In [36]:
s = "Hello"
s = s + " World"
print(s)

Hello World

List (mutable)

In this example, the append() method is used to add the value 4 to the existing list. The original list is modified directly, and there is no need to create a new list object.

In [38]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]